nav{
     display:flex;
	 justify-content:flex-start;
	 align-items:center;
	 padding:10px 30px;
	 width:100%;
	 box-sizing:border-box;
	 color:white;
}
.logo{display:flex;
     align-items:center;
	 color:blue;
}

.logo img{width:60px;
         margin-right:10px;
		 border-radius:50%;
}

.menu{display:flex;
justify-content:space-evenly;
      list-style:none;
	  background-color:darkblue;
	  align-items:center;
	  padding:20px 30px;
	  gap:30px;
	  margin:10px;
	  flex-grow:1;
	  border-radius:8px;
	  color:black;
	  text-decoration:none;}

ul{color:black;
text-decoration:none;}

.menu li{color:black;}
	  
	  
.banner{
       background-image:url("aaa.jpg.jpeg");
	   opacity:0.6;
	   }

.banner img{width:250px;
          padding-left:700px;
		  margin-top:0px;
		  margin-bottom:100px;
}
.button{background-color:darkblue;}

a:hover{color:red;}
a{text-decoration: none;
color:white;}

.form-box{box-sizing:border-box;
background-color:red;
border-radius:3px;
width:200px;
box-shadow:0 0 10px 10px black;}

.table{display:flex;
justify-content:space-evenly;}
.container{display:flex;
justify-content:space-between;}
